body {
  margin: 0;
  background-color: #23ce7f;
  background-image: linear-gradient(112deg, #23ce7f 9%, #a451c8 100%);
  font-family: sans-serif;
  text-shadow: 1px 1px 200px #00000073;
}

button {
  display: relative;
  font-size: 1.5em;
  color: white;
  background: none;
  border: solid 1px white;
  border-radius: 4px;
  padding: 15px;
  min-height: 4vh;
  min-width: 40px;
  opacity: 0.25;
}

button:focus {
  outline:0;
}yarn

button:hover {
  opacity: 0.8;
}

.timer-division {
  padding: 1%;
}

#screen {
  height: 100vh;
  width: 100vw;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer {
  height: 30vh;
  width: 50vw;

  min-height: 250px;
  min-width: 500px;
  max-width: 650px;
  padding: 2%;
}

#display {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 10em;
  color: white;
}

#controls {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  button {
    padding: 5px;
  }
}

@media (min-width: 700px) {
  #display {
    height: 90%;
    font-size: 15em;
  }
}